asgiref==3.8.1
crispy-bootstrap5==2025.6
dj-database-url==3.0.0
Django==5.2.3
django-crispy-forms==2.4
pillow==11.2.1
psycopg==3.2.9
psycopg-binary==3.2.9
psycopg2==2.9.10
python-dotenv==1.1.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
