{% extends "main/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% for note in notes %}
        {% if user == note.author %}
            <div class="card mt-2">
                <div class="card-header">
                    <a href="update_note/{{note.id}}" style="text-decoration: none; color: black;">
                        <h5>{{ note.id }} {{ note.title }}</h5>
                    </a>
                </div>
                <div class="card-body d-flex flex-row justify-content-between">
                    <div>
                        <p>{{ note.description|linebreaksbr }}</p>
                    </div>
                    <div>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" name="note-id" value={{note.id}}>Delete</button>
                        </form>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <p>Created: {{ note.created_at|date:"d-m-Y, h:i A" }}{% if note.created_at != note.updated_at %} | Updated: {{ note.updated_at|date:"d-m-Y, h:i A" }} {% endif %}</p>
                </div>
            </div>
        {% endif %}
    {% empty %}
        <p>There are no notes to show :)</p>    
    {% endfor %}
{% endblock %}